.header{
    text-align: center;
}

.header .logo{
    height: 50px;
}

.header nav {
    background-color: blueviolet;
    line-height: 50px;
}

.header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 40px;
}
.header nav a:hover{
    background-color: rgb(217, 185, 248);
    color: rgb(0, 0, 0);
    padding: 5px;
}